
body{
    text-align: center;
}

#Welcome{
 position: absolute;
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#00ccff 0%, #03fcca 100%);
    display: table;
    width: 100%;
    height: 110%;
    z-index: 2000 ;
}

img{
    
    margin-top: 100px;
    width:20%;
    border-radius: 500000000000000000000000px;
    position: sticky;
    
}
p{
    text-align:left;
    margin-left: 100px;
    margin-right: 100px;
}
#Profile_pic{
    margin-top:100px; 
    width:140px;
    height:210px;
    border-radius: 100%;
 
}
#Hobby{
    background: linear-gradient(#03fcca 0%, #cb96ff 100%);
    height: 100%;
}
#Reviews{
    background: linear-gradient(#cb96ff 0%, #ff00a2 100%);
    
    
}