
body{
text-align: center;
    background-color: deeppink;
}



img{
    
    width:200px;
    border-radius: 500000000000000000000000px;
    position: sticky;
    
}
p{
    text-align:left;
    margin-left: 100px;
    margin-right: 100px;
}